body {
    margin: 0;
    font-family: sans-serif;
}
header {
    background-color: rgb(65, 143, 244);
    user-select: none;
}
h1 {
    margin: 0;
    padding: 2%;
    color: white;
    text-align: center;
    font-size: 10rem;
}
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(65, 143, 244, 0.8);
    user-select: none;
}
a {
    display: inline-block;
    padding: 1.5%;
    color: white;
    text-decoration: none;
    font-size: 3rem;
    transition: background-color 500ms;
    width: 33.33vw;
    text-align: center;
}
a:hover, a:active, #active {
    background-color: rgba(65, 143, 244, 0.6);
}
main {
    padding: 10% 10%;
}
h2 {
    margin: 3% 0;
    text-align: center;
    font-size: 3rem;
}